/* .calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #eee;
  border-radius: 8px 8px 0 0;
} */

/* .calendar__button {
  background-color: transparent;
  border: none;
  color: #666;
  cursor: pointer;
  font-size: 16px;
} */
/* 
.calendar__month {
  font-size: 18px;
  font-weight: bold;
} */

/* .calendar__weekdays {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  padding: 8px;
  border-bottom: 1px solid #ccc;
} */

.calendar__day {
  width: 116px;
  height: 116px;
  display: flex;
  //justify-content: center;
  //align-items: center;
  //border-radius: 50%;
  cursor: pointer;
  padding-left: 4px;
  padding-top: 4px;
}

.calendar__day--header {
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.calendar__day--empty {
  background-color: #f5f5f5;
  cursor: default;
}

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  padding: 8px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  background-color: gray;
}

.calendar__day--selected {
  background-color: #000;
  color: #fff;
  width: 100%;
}
