@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/sygma");

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation-name: slide-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animate-slide-in.delay-500 {
  animation-delay: 500ms;
}

.animate-slide-in.delay-1000 {
  animation-delay: 1000ms;
}

.animate-slide-in.delay-1500 {
  animation-delay: 1500ms;
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.5s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer utilities {
  .upanddown {
    animation: upanddown 10s ease-in-out infinite;
  }

  @keyframes upanddown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .downThenUp {
    animation: downThenUp 10s ease-in-out infinite;
  }

  @keyframes downThenUp {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  box-sizing: border-box;
  /* background-color: black; */
  /* height: 100%; */
  ::-webkit-scrollbar {
    display: none;
  }
}
.shadowself {
  text-shadow: 0px 0px 8px black;
}
.shadowWhite {
  text-shadow: 0 0 white, 0 0 white, 0 0 white;
}
.shadowPink {
  text-shadow: 0 0 #e18ea5, 0 0 #e18ea5, 0 0 #e18ea5;
}
.shadowBlack {
  text-shadow: 0 0 #000, 0 0 #000, 0 0 #000;
}
.shadowGreen {
  text-shadow: 0 0 #222e29, 0 0 #222e29;
}
.shadowGold {
  text-shadow: 0 0 #9f8761, 0 0 #9f8761, 0 0 #9f8761;
}
.shadowYellow {
  text-shadow: 0 0 #f4e4c3, 0 0 #f4e4c3, 0 0 #f4e4c3;
}
input {
  appearance: none;
  -webkit-appearance: none;
  background-color: unset;
  margin: 0;
  outline: none;
}
.ql-toolbar {
  border: none;
  background: white;
}
.ql-formats {
  color: white;
}
.ql-editor .ql-container .ql-snow {
  border: 0px solid #e18ea5;
  padding-bottom: 40px;
  opacity: 0.2;
}

.ql-formats {
  opacity: 0.6;
}

.container {
  width: 70px;
  margin-top: auto;
  margin-bottom: auto;
}

.block {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 5px 5px 0;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background: #fff;
}

.block:nth-child(4n + 1) {
  animation: wave_23 2s ease 0s infinite;
}

.block:nth-child(4n + 2) {
  animation: wave_23 2s ease 0.2s infinite;
}

.block:nth-child(4n + 3) {
  animation: wave_23 2s ease 0.4s infinite;
}

.block:nth-child(4n + 4) {
  animation: wave_23 2s ease 0.6s infinite;
  margin-right: 0;
}

@keyframes wave_23 {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 10px;
    opacity: 0.2;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
.selected {
  transform: scale(1.5, 1.5);
  animation: 2s fadeIn;
  opacity: 1;
  z-index: 20;
  transform-origin: bottom center;
  animation-duration: 750ms;
  margin-bottom: 0px;
}
.unSelected {
  animation-duration: 750ms;
  transform: scale(0.7, 0.6);
}
