@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/sygma");
#root {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  box-sizing: border-box;
  /* background-color: black; */
  /* height: 100%; */

  ::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; /* or add it to the track */
  }
  ::-webkit-scrollbar-thumb {
    background-color: #000;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
.shadowWhite {
  text-shadow: 0 0 white, 0 0 white, 0 0 white;
}
.shadowPink {
  text-shadow: 0 0 #e18ea5, 0 0 #e18ea5, 0 0 #e18ea5;
}
.shadowBlack {
  text-shadow: 0 0 #000, 0 0 #000, 0 0 #000;
}
.shadowGreen {
  text-shadow: 0 0 #222e29, 0 0 #222e29, 0 0 #222e29;
}
.shadowGold {
  text-shadow: 0 0 #9f8761, 0 0 #9f8761, 0 0 #9f8761;
}
.shadowYellow {
  text-shadow: 0 0 #f4e4c3, 0 0 #f4e4c3, 0 0 #f4e4c3;
}
input {
  appearance: none;
  -webkit-appearance: none;
  background-color: unset;
  margin: 0;
  outline: none;
}
.ql-toolbar {
  background: white;
  opacity: 0.3;
  :hover {
    color: #e18ea5;
  }
}
.ql-formats {
  color: white;
}
.ql-editor {
  border: 0px solid;
}
